@using System.Threading;


<div class="card text-center">
    <div class="card-header">
        Instalação Completa
    </div>
    <div class="card-body">
        <h5 class="card-title">Instalação finalizada com sucesso</h5>
        <p class="card-text">Todos os recursos e Programas foram instalados com sucesso</p>
    </div>

    @* <div class="alert alert-danger">
        <strong>ATENÇÃO!</strong> Ao resetar as configurações o serviço de atualizacao será parado Até a configuração ser feita novamente, isso pode gerar erro, recomendamos fazer isso somente se for necessario
    </div> *@

    @* <form asp-action="ResetarConfiguracao" method="get">
        <div class="form-group col-12">
            <input type="submit" value=" Resetar/Alterar Configurações do projeto" class="btn btn-primary btn-block m-1" />
        </div>

    </form> *@
</div>